<html>
<head>
    <meta charset="utf-8">
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="../static/script.js"></script>
    <title>Big Data Application</title>
</head>
<body>
    <script>
        var questions = "{{questions}}";
        questions = JSON.parse(questions.replace(/(&quot\;)/g,"\""));
    </script>
    <form action="{% url 'submit' %}" method="post">
        {% csrf_token %} 
        <table>
            <tr>
                <td>Topic</td>
                <td>Question</td>
                <td>Data Source</td>
            </tr>
            <tr>
                <td>
                    <select id="topics" name='topics' required>
                        <option value="none" selected disabled hidden>--</option>
                        {% for topic in topics %}
                        <option value={{topic.name|lower}}>{{topic.name}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select id="questions" name='questions' required>
                        <option value="none" selected disabled hidden>--</option> 
                    </select>
                </td>
                <td>
                    <input type="checkbox" name="all" value="All">All<br>
                    <input type="checkbox" name="twitter" value="twitter">Twitter<br>
                    <input type="checkbox" name="fb" value="facebook">Facebook
                </td>
            </tr>
        </table>
        <input type="submit" value="Submit">
    </form> 
</body>
</html>